@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@100&family=League+Gothic&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'League Gothic', sans-serif;
    font-size: 1.1em;
}
html{
    height: 100vh;
    background-image: linear-gradient( 200deg, rgba(47, 62, 70, 0), rgba(132, 169, 140, 1));
}
div.log{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 67vh;
    margin: 5% auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}
input[type="text"],
input[type="password"]
{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}
div input.enviar{
    position: relative;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    background-color: #52796f;
}
input[type="text"]:focus,
input[type="password"]:focus
{
    color: #52796f;
    border: 3px solid #cad2c5;
    outline: none;
}
input[type="submit"]:hover{
    box-shadow: 0px 0px 5px 1px #52796f;
    transition: all .4s ease-in-out;
}
a, p{
    padding: 10px;
    color: white;
    transition: all .4s ease-in-out;
}
a:hover{
    border-bottom: 1px solid #2F3E46;
    transition: all .4s ease-in-out;
}
h1{
    color: white;
}

